<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          package="de.nicidienase.chaosflix"
          xmlns:android="http://schemas.android.com/apk/res/android"
          tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_notext_512x512"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".ChaosflixApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".touch.activities.BrowseActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".touch.fragments.AboutActivity"/>

    </application>

</manifest>