<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.nicidienase.chaosflix.leanback">

    <application
        android:name="de.nicidienase.chaosflix.ChaosflixApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${label}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".conferences.ConferencesActivity"
            android:banner="@drawable/banner"
            android:label="${label}"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="de.nicidienase.chaosflix"
                    android:host="main"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".events.EventsActivity"
            android:parentActivityName=".conferences.ConferencesActivity"/>
        <activity
            android:name=".detail.DetailsActivity"
            android:exported="true"
            android:parentActivityName=".conferences.ConferencesActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="de.nicidienase.chaosflix"
                    android:host="event"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.ChaosflixSettingsActivity"
            android:theme="@style/ChaosflixLeanbackPreferences" />

        <service android:name=".recommendations.ChaosRecommendationsService"
            android:enabled="true"/>

        <receiver
            android:name=".recommendations.RecommendationBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.tv.ACTION_WATCH_NEXT_PROGRAM_BROWSABLE_DISABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.tv.ACTION_PREVIEW_PROGRAM_BROWSABLE_DISABLED" />
            </intent-filter>
        </receiver>

    </application>

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />


</manifest>