<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.nicidienase.chaosflix.leanback">

    <application
        android:name="de.nicidienase.chaosflix.ChaosflixApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${label}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".conferences.ConferencesActivity"
            android:banner="@drawable/banner"
            android:label="${label}"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".events.EventsActivity"/>
        <activity
            android:name=".detail.DetailsActivity" />
        <activity
            android:name=".settings.ChaosflixSettingsActivity"
            android:theme="@style/ChaosflixLeanbackPreferences" />
    </application>

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>