<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.nicidienase.chaosflix.leanback"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="${label}"
        android:supportsRtl="true"
        android:name="de.nicidienase.chaosflix.ChaosflixApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:banner="@drawable/banner"
            android:label="${label}"
            android:screenOrientation="landscape"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".conferences.ConferencesActivity"/>
        <activity android:name=".events.EventsActivity"/>
        <activity android:name=".detail.DetailsActivity"/>
    </application>

</manifest>