<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.nicidienase.chaosflix"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".ChaosflixApplication">
        <activity
            android:name=".leanback.activities.ConferencesActivity"
            android:banner="@drawable/banner"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:logo="@drawable/icon"
            android:theme="@style/Theme.Leanback"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".leanback.activities.EventsActivity"
                  android:exported="true"
                  android:theme="@style/Theme.Leanback"/>
        <activity android:name=".leanback.activities.EventDetailsActivity"
                  android:exported="true"
                  android:theme="@style/Theme.Leanback"/>
        <activity android:name=".leanback.activities.DetailsActivity"
                  android:exported="true"
                  android:theme="@style/Theme.Leanback"/>
        <activity android:name=".leanback.activities.PlayerActivity"
                  android:theme="@style/Theme.Leanback"/>
        <service android:name=".shared.network.MediaApiService"/>

        <meta-data android:name="DATABASE" android:value="mediaccc.db" />
        <meta-data android:name="VERSION" android:value="4" />
        <meta-data android:name="QUERY_LOG" android:value="false" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="de.nicidienase.chaosflix" />
    </application>

</manifest>